@model LoginViewModel


<div class="row mt-3">
    <h3 class="display-2 text-center text-primary border-bottom">Login</h3>
</div>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <form method="post" asp-action="Login" class="w-50 mx-auto">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label class="form-label">Email</label>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
                <label class="form-label">Remember me</label>
            </div>
            <div class="form-group mt-2 mx-4">
                <button type="submit" class="btn btn-success">Login</button>
                <a asp-action="ResetPassword" class="btn btn-link ms-auto">I forgot my password</a>
            </div>
        </form>
    </div>
</div>
