html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
 .validation-summary-errors{
     border:1px solid red;
     border-radius:10px;
     padding:10px;
     background-color:red;
     width:300px;
 }

.validation-summary-errors ul{
   list-style-type:none;
   color:#fff;
}